/********** Base styles *****************/

* {
  box-sizing: border-box;
  margin: 0;
}

body {
	font-family: 'arial', 'sans-serif';
}

p {
	text-align: center;
	padding: 10px;
}

h1 {
	text-align: center;
	padding: 10px;
	font-size: 1.75em;
}

h2 {
	font-size: 1.25em;
}

div.box-heading {
	border: 1px solid black;
	position: absolute;
    top: 0px;
    right: 0px;
    padding: 0 10px 0 10px;
}

div.box {
	border: 1px solid black;
	margin: 10px;
	color: white;
	position: relative;
	background: gray;
}

#heading-1 {
	background: #ebbd34;
}

#heading-2 {
	background: #6234eb;
}

#heading-3 {
	background: #c934eb;
}

.box p {
	margin: 25px;
}

/********** Large devices only **********/
@media (min-width: 992px) {
#col1, #col2, #col3 {
	width: 33%;
	float: left;
}
}

/********** Medium devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
#col1 , #col2{
	width: 50%;
	float: left;
}

#col3 {
	width: 100%;
	float: left;
}
}

/********** Small devices only **********/
@media (max-width: 767px) {
#col1, #col2, #col3 {
	width: 100%;
	float: left;
}
}